.product_display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
  gap: 40px;
}

.display_left {
  display: flex;
}

.small_image {
  width: 19%;
  display: block;
  gap: 10px;
  margin-right: 20px;
}
.small_image img {
  width: 100%;
  margin: 2px 0px;
  height: 114px;
}

.big_image img {
  width: 100%;
  height: 483px;
}

.big_image {
  width: 80%;
}

.display_right h2 {
  font-size: 27px;
  margin-top: 10px;
  font-weight: 500;
  margin-bottom: 20px;
}
.display_right .review {
  margin-bottom: 20px;
}
.display_right .review img {
  margin-right: 5px;
}

.product_price {
  display: flex;
  font-size: 25px;
  margin-bottom: 20px;
}
.new_price {
  font-weight: 600;
  color: tomato;
}
.old_price {
  color: #5a5a5a;
  margin-right: 20px;
  text-decoration: line-through;
}

.product_des {
  font-size: 17px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.product_size p {
  font-size: 20px;
  font-weight: 600;
  color: rgb(77, 77, 77);
}

.product_sizes {
  display: flex;
  gap: 18px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.product_sizes .s {
  background: #dddddd;
  padding: 4px 6px;
  border: 1px solid #c2c2c2;
  border-radius: 3px;
  text-align: center;
  font-size: 15px;
  align-items: center;
}

.cart_button {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 3px;
  font-size: 17px;
  background: tomato;
  color: white;
  cursor: pointer;
}

.category {
  margin-top: 30px;
  font-size: 17px;
}
.category span {
  font-weight: 600;
}
.tags {
  margin-top: 10px;
  font-size: 17px;
}

.tags span {
  font-weight: 600;
}
